#TB_ajaxContent p{
  padding:5px 0 0 5px;
}
#TB_ajaxContent label{
  display: block;
  font-weight: bold;
}
#TB_ajaxContent input#user_login{
  width: 240px;
}
#TB_ajaxContent input#user_pass{
  width: 240px;
}
#TB_ajaxContent input#user_email{
  width: 240px;
}

#TB_ajaxContent p#reg_passmail{
  font-weight: bold;
}
#TB_ajaxContent p.login-submit{
  width :100px;
}
#TB_ajaxContent li#lost{
  list-style: none;
  padding-left: 120px;
  font-weight: bold;
  margin-top: -35px;
}